.container {
    .allproduct {
        text-align: center;
        color: var(--main-color);
        font-weight: 600;
        font-size: 5rem;
        font-family: 'Playball';
        position: absolute;
        top: 160px;
        display: block;
        left: 50%;
        transform: translateX(-50%);
    }

    .content {
        width: 1270px;
        margin-left: auto;
        margin-right: auto;

        .thumb-wrapper {
            margin-top: 5rem;
            display: flex;

            .thumb {
                width: 30.2rem;
                height: 37.75rem;
                overflow: hidden;
                position: relative;

                .thumb-img {
                    transition: transform 3s;
                    width: 100%;
                    height: 100%;
                }

                &:hover .thumb-img {
                    transform: scale(1.2);
                    cursor: pointer;
                }

                .text {
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(255, 255, 255, 0.68);

                    .title {
                        font-size: 2.8rem;
                        font-family: 'Playball', cursive;
                        user-select: none;
                    }

                    .watchnow {
                        font-size: 1.6rem;
                        font-family: 'Playball', cursive;
                        transition: color 0.4s;
                        user-select: none;
                        color: #231f20;

                        &:hover {
                            color: var(--main-color);
                            cursor: pointer;
                        }
                    }
                }
            }

            .thumb + .thumb {
                margin-left: 20px;
            }
        }

        .text {
            text-align: center;
            user-select: none;
            margin-top: 2rem;

            .title {
                font-size: 5rem;
                font-family: 'Playball', cursive;
                font-weight: 500;
                height: 7rem;
                transition: color 0.4s;

                &:hover {
                    color: var(--main-color);
                    cursor: pointer;
                }
            }
        }

        .filter {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            margin-bottom: -6rem;

            .icon {
                font-size: 2rem;
            }

            .sortby {
                font-size: 1.4rem;
                font-weight: 500;
            }

            .btn {
                font-size: 1.4rem;
                font-weight: 500;
                margin-left: 1rem;
                color: var(--main-color);
                padding: 5px 10px;
                border: 1px solid var(--main-color);
                border-radius: 5px;
                user-select: none;
                cursor: pointer;
                transition: background-color 0.4s, color 0.4s;

                &:hover {
                    background-color: var(--main-color);
                    color: #fff;
                }
            }
        }

        .pagination {
            display: flex;
            margin-top: 4rem;
            margin-bottom: 5rem;
            justify-content: center;

            .num-btn {
                display: flex;
                width: 4rem;
                height: 3.5rem;
                font-size: 1.4rem;
                font-weight: 500;
                color: #000;
                justify-content: center;
                align-items: center;
                border: 1px solid #000;
                border-radius: 5px;
                user-select: none;
                cursor: pointer;
                transition: background-color 0.4s, color 0.4s;

                &:hover {
                    font-weight: 700;
                    background-color: var(--main-color);
                    color: #fff;
                    border-color: var(--main-color);
                }
            }

            .num-btn + .num-btn {
                margin-left: 5px;
            }

            .action {
                font-weight: 700;
                background-color: var(--main-color);
                color: #fff;
                border-color: var(--main-color);
            }
        }
    }
}
