/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
// ------------------------------------------------------ kết thúc reset
@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/font/Quicksand-Bold.ttf') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/font/Quicksand-Medium.ttf') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/font/Quicksand-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playball';
    src: url('../../assets/font/Playball-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #fff;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--main-color);
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #ca8c07;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
}

/* common */
:root {
    --primary-color: #fff;
    --main-color: #cd9b32;
    --background-color: #f3e7cd;
}

a {
    text-decoration: none;
}
